{% from "macros.html" import render_field_bootstrap %}

{% extends "base.html" %}

{% block title %}
Areacodely
{% endblock %}

{% block meta %}
<meta name="description" content="Find location of a telephone number using the area code and prefix.">
{% endblock %}


{% block content %}

    <div id="middle">
        <div class="container">
            <div class="flash_messages">
            {% for message in get_flashed_messages() %}
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
            {% endfor %}
            </div>


            <div class="center_box">
                <h1>Areacodely</h1>
            </div>


            <div id="name_form">
                <form action="{{ url_for('search') }}" method="POST">
                    {{ form.hidden_tag() }}
                    <input type="tel" name="number" id="number" placeholder=" (123) 456 - XXXX" maxlength="6" value>
                    <br>
                    <button type="submit">Find Location</button>
                </form>
            </div>

            <div class="location_box">
                <p>Phone: ({{ location.area_code }}) {{ location.central_office_code }} - XXXX</p>
                <p>Location: {{ location.full_name }} {{ location.state }}</p>
                <p><a href="{{ google_maps }}" target="_blank">Google Maps</a></p>
                <p>Metro Area: {{ location.metro }}</p>
                <p>Carrier or Company: {{ location.assigned_to }}</p>
                <p>Date Assigned: {{ location.date_assigned }}</p>
                <p>Date Effective: {{ location.date_effective }}</p>
            </div>



        </div>
    </div>


{% endblock %}
